


.square01{
    width: 100px;
    height: 100px;
    background-color: red;
}


.square02{
    width: 100px;
    height: 100px;
    background-color: black;
}

.square03{
    width: 100px;
    height: 100px;
    background-color: rgb(78, 31, 131);
}




